PORT=4000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=control_enfunde
JWT_SECRET=CAMBIAR_POR_UN_SECRETO_SEGURO
OPENWEATHER_API_KEY=
GOOGLE_CLIENT_ID=
SALT_ROUNDS=10
LOG_LEVEL=info
